# Manim配置文件
[CLI]
output_file = 
quality = medium_quality
format = mp4

[logger]
log_level = INFO

[output]
output_directory = ./media
output_name = 
progress_bar = display

[preview]
preview = True
preview_fps = 30